&spi0 {
	status = "okay";
};

//#define fmc_spi spi0

#include <ad9528.h>

/ {
	clocks {

	};
};

&spi0 {
	clksync0_ad9545: ad9545-lpc@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			#clock-cells = <1>;
			compatible = "ad9545";
			reg = <0>;

			//spi-3wire;
			spi-max-frequency = <10000000>;

			//reset-gpios = <&gpio_daq1 3 0>;

			clock-output-names = "ad9508-1_out0", "ad9508-1_out1", "ad9508-1_out2";

			//ad9545,regmap-init=<0x0627 0xB0
                        //                 0x0628 0x00
                        //                 0x0629 0x10
                        //                 0x062A 0x27
                        //                 0x062B 0x20
                        //                 0x062C 0x44
                        //                 0x062D 0xF4
                        //                 0x062E 0x01
                        //                 0x0628 0x06>;
//			ad9545,regmap-init=<0x000 0x18
//					    0x001 0x00
//					    0x003 0x05
//					    0x004 0xFF
//					    0x005 0x00
//					    0x006 0x00
//					    0x00a 0x00
//					    0x00b 0x00
//					    0x00c 0x56
//					    0x00d 0x04
//					    0x00f 0x00
//					    0x100 0x7D
//					    0x101 0x00
//					    0x102 0x0A
//					    0x103 0x00
//					    0x104 0x2C
//					    0x105 0x01
//					    0x106 0x7F
//					    0x107 0x03
//					    0x108 0x08
//					    0x109 0x14
//					    0x10a 0x02
//					    0x10b 0x00
//					    0x200 0xFF
//					    0x201 0x1E
//					    0x202 0x03
//					    0x203 0x05
//					    0x204 0x03
//					    0x205 0x00
//					    0x206 0x00
//					    0x207 0x00
//					    0x208 0x27
//					    0x209 0x00
//					    0x300 0x40
//					    0x301 0x00
//					    0x302 0x00
//					    0x303 0x00
//					    0x304 0x00
//					    0x305 0x09
//					    0x306 0x00
//					    0x307 0x00
//					    0x308 0x09
//					    0x309 0x00
//					    0x30a 0x00
//					    0x30b 0x09
//					    0x30c 0x00
//					    0x30d 0x00
//					    0x30e 0x27
//					    0x30f 0x00
//					    0x310 0x00
//					    0x311 0x09
//					    0x312 0x00
//					    0x313 0x00
//					    0x314 0x09
//					    0x315 0x40
//					    0x316 0x00
//					    0x317 0x00
//					    0x318 0x00
//					    0x319 0x00
//					    0x31a 0x09
//					    0x31b 0x00
//					    0x31c 0x00
//					    0x31d 0x27
//					    0x31e 0x00
//					    0x31f 0x80
//					    0x320 0x13
//					    0x321 0x40
//					    0x322 0x00
//					    0x323 0x00
//					    0x324 0x20
//					    0x325 0x00
//					    0x326 0x00
//					    0x327 0x20
//					    0x328 0x00
//					    0x329 0x00
//					    0x32a 0x00
//					    0x32b 0x00
//					    0x32c 0x00
//					    0x32d 0x00
//					    0x32e 0x00
//					    0x00F 0x01
//					    0x203 0x04
//					    0x00F 0x01
//					    0x400 0x19
//					    0x401 0x00
//					    0x402 0x00
//					    0x00F 0x01
//					    0x403 0x90
//					    0x404 0x04
//					    0x500 0x10
//					    0x501 0x03
//					    0x502 0x38
//					    0x503 0xFF
//					    0x504 0xFF
//					    0x505 0x00
//					    0x506 0x00
//					    0x507 0x00
//					    0x508 0x00
//					    0x509 0x00
//					    0xffe 0x00 >;
			ad9545_0_c0:channel@0 {
				reg = <0>;
				extended-name = "SYSREF";
				clock-frequency = <122880000>;
			};
			ad9545_0_c1:channel@1 {
				reg = <1>;
				extended-name = "PLL_REF";
				clock-frequency = <122880000>;

			};
			ad9545_0_c2:channel@2 {
				reg = <2>;
				extended-name = "GBTCLK";
				clock-frequency = <122880000>;

			};
	};

	trx0_ad9371: ad9371-phy@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		compatible = "ad9371";

		/* SPI Setup */
		reg = <1>;
		spi-max-frequency = <1000000>;

		/* Clocks */
		clocks = <&clksync0_ad9545 0>, <&clksync0_ad9545 1>, <&clksync0_ad9545 2>, <&clksync0_ad9545 2>, <&clksync0_ad9545 2>;
		clock-names = "jesd_rx_clk", "jesd_tx_clk", "jesd_rx_os_clk", "dev_clk", "fmc_clk";
		clock-output-names = "rx_sampl_clk", "rx_os_sampl_clk", "tx_sampl_clk";

		adi,clocks-device-clock_khz = <122880>;
		adi,clocks-clk-pll-vco-freq_khz = <9830400>;
		adi,clocks-clk-pll-vco-div = <2>;
		adi,clocks-clk-pll-hs-div = <4>;

		adi,rx-settings-rx-pll-lo-frequency_hz = /bits/64 <829500000>;
		adi,tx-settings-tx-pll-lo-frequency_hz = /bits/64 <874500000>;

		/* rx framer */
		adi,jesd204-rx-framer-m = <4>;
		adi,jesd204-rx-framer-scramble = <1>;
		adi,jesd204-rx-framer-serializer-lanes-enabled = <4>;

		/* obs frame */
		adi,jesd204-obs-framer-m = <2>;
		adi,jesd204-obs-framer-scramble = <1>;
		adi,jesd204-obs-framer-serializer-lanes-enabled = <1>;

		/* tx deframer */
		adi,jesd204-deframer-m = <4>;
		adi,jesd204-deframer-scramble = <1>;
		adi,jesd204-deframer-deserializer-lanes-enabled = <5>;

		adi,rx-profile-adc-div = <1>;
		adi,rx-profile-rx-fir-decimation = <2>;
		adi,rx-profile-rx-dec5-decimation = <5>;
		adi,rx-profile-en-high-rej-dec5 = <1>;
		adi,rx-profile-rhb1-decimation = <2>;
		adi,rx-profile-iq-rate_khz = <61440>;
		adi,rx-profile-rf-bandwidth_hz = <40000000>;
		adi,rx-profile-rx-bbf-3db-corner_khz = <40000>;

		adi,obs-profile-adc-div = <1>;
		adi,obs-profile-rx-fir-decimation = <2>;
		adi,obs-profile-rx-dec5-decimation = <5>;
		adi,obs-profile-en-high-rej-dec5 = <1>;
		adi,obs-profile-rhb1-decimation = <1>;
		adi,obs-profile-iq-rate_khz = <122880>;
		adi,obs-profile-rf-bandwidth_hz = <100000000>;
		adi,obs-profile-rx-bbf-3db-corner_khz = <50000>;

		adi,tx-profile-dac-div = <1>; //DACDIV_2p5
		adi,tx-profile-tx-fir-interpolation = <1>;
		adi,tx-profile-thb1-interpolation = <2>;
		adi,tx-profile-thb2-interpolation = <2>;
		adi,tx-profile-tx-input-hb-interpolation = <1>;
		adi,tx-profile-iq-rate_khz = <122880>;
		adi,tx-profile-primary-sig-bandwidth_hz = <20000000>;
		adi,tx-profile-rf-bandwidth_hz = <100000000>;
		adi,tx-profile-tx-dac-3db-corner_khz = <100000>;
		adi,tx-profile-tx-bbf-3db-corner_khz = <50000>;
	};

};
