&spi0 {
	status = "okay";
};

//#define fmc_spi spi0

/ {
	clocks {

	};
};

&spi0 {
	clk0_ad9523: ad9523-1@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		compatible = "ad9523-1";
		reg = <0>;
		spi-cpol;
		spi-cpha;

		adi,ref-mode = <2>;
		adi,osc-in-feedback-enable = <1>;
		adi,refa-r-div = <200>;
		adi,refb-r-div = <200>;
		adi,pll1-feedback-div = <50>;
		adi,pll1-charge-pump-current-nA = <50000>;
		adi,zero-delay-mode-internal-enable = <1>;

		spi-max-frequency = <1000000>;
		clock-output-names = "ad9523-1_out0", "ad9523-1_out1", "ad9523-1_out2", "ad9523-1_out3", "ad9523-1_out4", "ad9523-1_out5","ad9523-1_out6", "ad9523-1_out7", "ad9523-1_out8", "ad9523-1_out9", "ad9523-1_out10", "ad9523-1_out11","ad9523-1_out12", "ad9523-1_out13";
		adi,vcxo-freq = <30720000>;//VCXO频率

		adi,pll2-charge-pump-current-nA = <889000>;//间隔为3.5uA，0~FF满程900uA，当前取FE=889uA
		adi,pll2-ndiv-a-cnt = <0>;//P=4
		adi,pll2-ndiv-b-cnt = <30>;//N2=P*b+a=120

		adi,pll2-r2-div = <1>;//R分频为1
		adi,pll2-vco-diff-m1 = <5>;//M分频为6，VCO频率为30.72*120/6=614.4

		adi,rpole2 = <225>;
		adi,rzero = <0>;
		adi,cpole1 = <0>;//参考版本0XF5读取为C0

		ad9523_0_c2:channel@2 {
			reg = <2>;
			adi,extended-name = "Extclkout";
			adi,driver-mode = <3>;
			adi,divider-phase = <0>;
			adi,channel-divider = <5>;
//			adi,output-enable;
		};
		ad9523_0_c3:channel@3 {
			reg = <3>;
			adi,extended-name = "GTREFCLK1";
			adi,driver-mode = <3>;
			adi,divider-phase = <0>;
			adi,channel-divider = <5>;
//			adi,output-enable;
		};

		ad9523_0_c4:channel@4 {
			reg = <4>;
			adi,extended-name = "GTREFCLK0";
			adi,driver-mode = <3>;
			adi,divider-phase = <0>;
			adi,channel-divider = <5>;
//			adi,output-enable;
		};

		ad9523_0_c5:channel@5 {
			reg = <5>;
			adi,extended-name = "AD937X_CLK";
			adi,driver-mode = <3>;
			adi,divider-phase = <0>;
			adi,channel-divider = <5>;
//			adi,output-enable;
		};

		ad9523_0_c10:channel@10 {
			reg = <10>;
			adi,extended-name = "FPGA_CLK";
			adi,driver-mode = <3>;
			adi,divider-phase = <0>;
			adi,channel-divider = <5>;
//			adi,output-enable;
		};
	};

};

